@charset "utf-8";

body#index {background-color: rgb(209, 205, 200);}
body#page2 {background-color: rgb(209, 205, 200);}
body#page3 {background-color: rgb(209, 205, 200);}

body#index{text-align: center;}
body#page2{text-align: center;}
body#page3{text-align: center;}
element {
    color: aqua;
  }